@model IEnumerable<CoreCRUD.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee List</h1>

<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="AddOrEdit">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfficeLocation)
                </th>
              
                <th></th>
                <th>Edit Action</th>
                <th>Details Action</th>
                <th>Delete Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfficeLocation)
                    </td>
                 
                    <td>
                    <td class="text-center">
                        <a asp-action="AddOrEdit" class="btn btn-outline-primary" asp-route-employeeId="@item.EmployeeId">Edit</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-employeeId="@item.EmployeeId">Details</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-employeeId="@item.EmployeeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>